#under-header{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.under-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./underheader.jpg');
}

.under-header2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./underheader2.jpg');
}

#under-header p{
 color: white;
 font-size: 48px;
}

#under-header p span{
    white-space: nowrap;
}

@media screen and (max-width: 768px){
    #under-header {
        height: 100px;
    }

    #under-header p{
        color: white;
        font-size: 24px;
        padding-left: 20px;
        padding-right: 20px;
       }
}