#infologement {
    color: #ff6060;
}



#infologement .title-name-tags .location-city {
    margin-bottom: 10px;
    font-size: 18px;
}


#infologement .title-name-tags h1 {
    font-size: 36px;
}
#infologement .title-name-tags .tag {
    color: #fff;
    background-color: #ff6060;
    padding: 3px 20px;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 10px;
    white-space: nowrap;
}

#infologement .title-name-tags .tags {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

#infologement .description-equipements {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 10px;
}

#infologement .description-equipements .accordion {
    flex-grow: 1;
    max-width: 47%;
    font-size: 18px;
}

#infologement .host-picture {
    height: 64px;
    width: 64px;
    overflow: hidden;
    border-radius: 999px;
}

#infologement .name-pic-stars{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    box-sizing: border-box;
}

#infologement .star-rating {
    height: 24px;
    width: 24px;
    margin: 3px;
}

#infologement .outer-heading-flex{
    display: flex;
    justify-content: space-between;
}

#infologement .name-pic-flex{
    display: flex;
    align-items: center;
    gap:10px;
}

#infologement .name-pic-flex p{
    text-align: right;
    font-size: 18px;
}

#infologement .name-pic-stars .rating-nowrap {
    display: flex;
    flex-wrap: nowrap;
  
}

#infologement button .value, #infologement .description{
    font-size: 18px;
}

@media screen and (max-width: 768px) {

    #infologement .title-name-tags .location-city {
        
        font-size: 14px;
    }
    #infologement .title-name-tags h1 {
        font-size: 18px;
    }

    #infologement .description-equipements {
        flex-direction: column;
        gap: 0;
    }

    #infologement .description-equipements .accordion {
        flex-grow: 1;
        max-width: 100%;
    }

    #infologement .outer-heading-flex{
        flex-direction: column;
    }

    #infologement .host-picture {
        height: 32px;
        width: 32px;

    }

    #infologement .name-pic-stars{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    #infologement .name-pic-flex p{
        text-align: right;
        font-size: 13px;
    }

    #infologement button .value, #infologement .description{
        font-size: 13px;
    }

    #infologement .star-rating {
        height: 13px;
        width: 13px;
        margin: 3px;
    }
}