#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
}
#header #heading{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#header #heading img{
    display: block;
    width: 200px;  
}

#header nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#header nav *{
    margin: 0 10px;
    text-decoration: none;
    color: #FF6060;
    font-size: 24px; 
    white-space: nowrap;
}

#header nav *:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px){

    #header h1 {
        width: 100px;
        height: auto;
    }

    #header nav *{
        font-size: 12px;
        margin: 0 8px;
    }
}