#carousel{
    
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 300px;
	position: relative;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 30px;

}


#carousel .arrows{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
}

#carousel .arrows .arrow-left{
    height:80px;
    width: 80px;
    left: 20px;
}

#carousel .arrows .arrow-right{
    height:80px;
    width: 80px;
    right: 20px;
}

#carousel .slide-number{
    color: white;
    font-weight: 500;
    font-size: 18px;
    align-self: flex-end;
    margin-bottom: 30px;
}

#carousel .carousel-image{
   
	width: 100%;
	height: 300px;
	z-index: -1;
	object-fit: cover;
	object-position: center;
   
}



@media screen and (max-width: 768px){
    #carousel{
        height: 200px;
        margin-bottom: 20px;
    }
    
}