.accordion-item {
    margin: 0 auto 30px auto;
    max-width: 80%;
}

.accordion-item button{
    display: flex;
    justify-content: space-between;
    margin: 0;
    border: none;
    width: 100%;
    text-align: left;
    color: white;
    background-color: #ff6060;
    font-weight: 500;
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;
    z-index: 50;
}

.accordion-item button .value{
 color: #ffffff;
 margin-left: 10px;
}

.accordion-item button .chevron-down{
    width: 30px;
    height:30px;
    margin-right: 20px;
    background: url('./chevron-down.svg') no-repeat center;
}

.accordion-item button .chevron-up{
    width: 30px;
    height:30px;
    margin-right: 20px;
    background: url('./chevron-up.svg') no-repeat center;
}



.accordion-item .description{
    top: -5px;
    margin: 0;
    background-color: #f6f6f6;
    color: #ff6060;
    border-radius: 5px;
    padding: 15px;
    z-index: 0;
}

@media screen and (max-width: 768px){
    .accordion-item {
        margin: 20px auto 20px auto;
        max-width: 100%;
    }
}